*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 1rem;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg,var(--scroll_thumb_gray1),var(--scroll_thumb_gray2));
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(180deg,var(--scroll_thumb_gray1),var(--scroll_thumb_gray2));
}
body{
    padding: 0;
    margin: 0;
    background-color: var(--bg_gray);
}
section{
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg_gray);
    justify-content: center;
    text-align: center;
    color: var(--white);
    display: flex;
    flex-direction: column;
    max-height: 1000px;
    overflow: auto;
    align-items: center;
}
nav ul li{
    display: flex;
    margin: 10px;
    color: var(--white);
    font-size: 20px;
    float: right;
}
nav{
    z-index: 100;
    position: fixed;
    height: 10px;
    width: 100%;
    padding: 1rem;
    transition: 1s;
    overflow: hidden;
    background-color: var(--tr_black);
    height: 100px;
    box-shadow: 0 0 20px black;
}
nav ul li a, nav ul li{
    color: var(--white);
    font-family: cursive;
    font-size: 30px;
}
nav ul li:active{
    background-color: var(--white);
}
nav ul .dark_mode{
    float: left;
    font-size: 1rem;
}

header,footer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    background: transparent;
}

#blog{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hi1::after{
    content: "";
    position: absolute;
    height: 90%;
    max-height: 1000px;
    width: 50%;
    background-color: transparent;
    border: 150px solid var(--before_after);
    border-radius: 50%;
    right: 40%;
    top: -40%;
    overflow: hidden;
    box-shadow: 15px 15px 50px black;
}
header section::before, footer section::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 10%;
    min-height: 100px;
    right: 20%;
    background: var(--before_after);
    box-shadow: 30px 15px 50px black;
    transform: skewX(-20deg);
    z-index: 5;
}


footer section article,header section article{
    font-size: x-large;
    background-color: var(--art);
    height: 20rem;
    width: 40%;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    z-index: 10;
    padding: 20px;
    box-shadow: 10px 10px 100px black;
    border: 1px solid var(--art);
}
hr{
    margin: 0;
}
.paintings{
    height: fit-content;
}
input[type="text"],textarea{
    width: 40%;
    height: 20px;
    padding: 2px;
    color: var(--white);
    background-color: transparent;
    border-radius: 10px;
}
input[type="email"]:hover{
    background-color: var(--bg_gray);
    height: 30px;
    transition: 1s;
}
textarea{
    margin: 20px;
    min-height: 70px;
    min-width: 200px;
    max-width: 70vmin;
    max-height: 20vmin;
}
textarea:hover{
    background-color: var(--bg_gray);
}
button{
    padding: 5px;
    color: var(--white);
    background-color: transparent;
    border-radius: 10px;
    border: 3px solid var(--white);
    height: 40px;
    margin: 10px;
}
button:hover{
    background-color: var(--bg_gray);
}

section .footer{
    position: relative;
    background: var(--art);
    min-height: 10%;
    width: 100%;
    bottom: -21%;
    backdrop-filter: blur(10px);
}
body #contact .footer div{
    margin-top: 20px;
}

#blog section{
    min-height: 110vh;
    height: auto;
}

body *::selection{
    background-color: var(--bg_gray);
    color: var(--white);
}
td img{
    height: 240px;
    transition: 1s;
}
td img:hover{
    height: 300px;
    transition: 1s;
}
td{
    font-size: large;
    display: inline-block;
    background-color: var(--art);
    height: auto;
    border-radius: 20px;
    z-index: 20;
    padding: 20px;
    box-shadow: 10px 10px 100px black;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 1rem;
    font-family: cursive;
    color: var(--white);
    backdrop-filter: blur(10px);
}
#home article h1:nth-child(3) .my_name{
    font-family: vivaldi;
    font-size: 3rem;
    text-shadow: 0 0 20px var(--white);
}
#Theme{
    height: max-content;
    width: max-content;
    left: 10%;
    transition: 1s;
}
nav ul li:nth-child(4){
    float: left;
}
h1{
    font-family: vivaldi;
    text-shadow: 0 0 30px var(--white);
}
@media screen and (max-width: 1350px){
    td img{
        height: 100px;
    }
}
@media screen and (max-height: 1000px) and (max-width: 800px) {
    nav ul{
        display: none;
        background-color: transparent;
    }
    nav,nav:hover{
        height: 20px;
        background-color: var(--art);
        font-family: vivaldi;
        height: 500px;
        width: 500px;
        font-size: 50px;
        font-weight: bolder;
    }
}
