*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 1s;
}
body{
    background-color: rgb(23, 29, 35);
}
body::-webkit-scrollbar{
    background: transparent;
    width: 1rem;
}
body::-webkit-scrollbar-track{
    width: 1rem;
}
body::-webkit-scrollbar-thumb{
    width: 1rem;
    background-color: rgb(69, 86, 102);
    border-radius: 50px;
}
main{
    display: grid;
    clear: left;
    min-height: 100vh;
    width: fit-content;
    float: right;
    background-color: rgb(23, 29, 35);
    z-index: 9;
    /* overflow: hidden; */
}
@media screen and (min-width: 1200px){
    main{
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (max-width: 1200px){
    main{
        grid-template-columns: repeat(2,1fr);
        z-index: 12;
    }
    .card{
        transform: scale(0.8);
        z-index: 10;
    }
}

@media screen and (max-width: 900px){
    main{
        grid-template-columns: repeat(1,1fr);
        z-index: 12;
    }
    .card{
        transform: scale(0.8);
        z-index: 10;
    }
}

@media screen and (max-width: 500px){
    aside ul li{
        display: none;
    }
    aside:hover ul li{
        display: block;
    }
    aside{
        width: 5px;
        padding: 5px;
        z-index: 50;
        background-color: rgb(23, 29, 35);
        box-shadow: 0 0 20px black;
        z-index: 10;
    }
    aside:hover{
        width: 200px;
    }
}

.card{
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    margin: 50px;
    /* transition-timing-function: ease-out; */
    /* animation: get-in 1s ease-out; */
}
/* @keyframes get-in {
    0%{
        left: -50%;
    }
    90%{
        left: 10%;
    }
    100%{
        left: 0;
    }
} */
.card:hover .imgbx::before, .card:hover .imgbx::after,
.card:hover .content .price::before, .card:hover .content .price::after, 
.card:hover .content .price span, .card:hover .content .price,
.card:hover .content .desc,.card:hover .content .desc p{
    height: 0;
    width: 0;
    bottom: 0;
    overflow: hidden;
    left: -20px;
}

.card:hover{
    height: 425px;
}
.card:hover .imgbx{
    height: 510px;
}
.card:hover .content,.card:hover .content .price,.card:hover .content .price span{
    content: "";
    height: 0;
}
.card .imgbx{
    position: relative;
    height: 240px;
    width: 100%;
    background-color: aqua;
    border-radius: 15px;
    /* background: url('7.JPG'); */
    background-size: cover;
    z-index: 10;
    overflow: hidden;
}

.card .imgbx img{
    width: 320px;
}

.card .imgbx::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: -10px 10px 0 rgb(23, 29, 35);
    z-index: 10;
}

.card .imgbx::after{
    content: "";
    position: absolute;
    bottom: 70px;
    left: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: -10px 10px 0 rgb(23, 29, 35);
    z-index: 10;
}

.card .content{
    position: relative;
    height: 150px;
    width: 100%;
    background-color: rgb(44, 54, 71);
    border-radius: 15px;
    border-top-left-radius: 0;
    z-index: 10;
}

.card .content .price{
    position: absolute;
    top: -80px;
    height: 80px;
    width: 50%;
    background-color: rgb(44, 54, 71);
    border-top: 10px solid rgb(23, 29, 35);
    border-right: 10px solid rgb(23, 29, 35);
    border-top-right-radius: 25px;
    z-index: 10;
}
.card .content .price::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: transparent;
    box-shadow: -10px -10px 0 rgb(23, 29, 35);
    z-index: 10;
}
.card .content .price::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: -25px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: transparent;
    box-shadow: -10px 10px 0 rgb(44, 54, 71);
    z-index: 10;
}

.card .content .price span{
    height: 70%;
    width: 80%;
    background-color: rgb(23, 29, 35);
    color: aliceblue;
    font-family: tahoma;
    padding: 15px;
    margin: 15px;
    position: relative;
    display: block;
    border-radius: 15px;
    z-index: 10;
}
.card .content .desc{
    display: block;
    margin: 20px;
    padding: 20px;
    font-family: Comic Sans MS;
    height: 80%;
    width: 80%;
    color: aliceblue;
    font-size: x-large;
}
/* .card .content .desc p span{
    font-size: x-large;
    padding: 5px;
    font-weight: 1000;
    font-family: vivaldi;
    margin: 10px;
} */

aside ul li, nav ul li{
    list-style: none;
}
aside{
    height: 100vh;
    position: fixed;
    float: left;
    border-right: 1px solid white;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;
    z-index: 9;
}

aside ul li fieldset legend{
    color: aliceblue;
    padding: 3px;
}

aside *{
    color: aliceblue;
    z-index: 12;
}

aside ul li fieldset{
    padding: 5px;
    border-radius: 5px;
    z-index: 12;
}

nav ul li input{
    width: 300px;
    padding: 5px;
    position: absolute;
    right: 10%;
    border: 1px solid aliceblue;
    color: aliceblue;
    background-color: transparent;
    border-radius: 10px;
    transition: 0.5s;
    z-index: 12;
}
nav ul li input:hover{
    transform: scale(1.2);
    z-index: 12;
}
nav{
    height: max-content;
    position: relative;
    min-height: 60px;
    border-bottom: 1px solid aliceblue;
    padding: 10px;
    margin: 10px;
    background-color: transparent;
    z-index: 12;
}
